@model GestaoEmpresaMVC.Models.Stock

@{
    Layout = null;
    ViewData["Title"] = "Alterar Produto em Estoque";
}



<div class="row" style="justify-content: center">    
    <span id="return"></span>    
</div>



<form asp-action="AddRemoveProduct">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Selecione o Produto:</label>
                <select id="productId" asp-for="ProductId" class="idProduto form-control" asp-items="ViewBag.ProductName"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div style="justify-content:center" class="row">
                <div class="col-5">
                    <label style="font-size:large">Estoque Atual: </label>
                    <select disabled id="productQuantity" class="selectDisabled" asp-for="ProductId" asp-items="ViewBag.ProductQuantity"></select>
                </div>
                <div class="col-5">
                    <label style="font-size:large">Preço Atual:</label>
                    <select disabled id="productPrice" class="selectDisabled" asp-for="ProductId" asp-items="ViewBag.ProductPrice"></select>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label">Quantidade Adicionar/Remover</label>
                <input asp-for="Quantity" class="form-control" placeholder="Informe a quantidade" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Novo Preço</label>
                <input asp-for="Price" class="form-control" placeholder="Informe o novo valor do produdo" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div>
        <input type="submit" value="Confirmar Alterações" class="btn btn-success" />
    </div>

</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/AddRemoveProductAlerts.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link href="~/css/StyleSheet.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $("#productId").change(function () {
            var select = document.getElementById('productId');
            document.getElementById('productPrice').value = select.value;
            document.getElementById('productQuantity').value = select.value;
        });
    });
</script>