@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bem-Vindo!</h1>
        <p>Projeto em ASP.NET MVC para testar conhecimentos</p>
        <hr />
        <h4>Contato</h4>
        <hr />
        <address>
            <strong>Email:</strong> <a href="mailto:otavio.atr@gmail.com">otavio.atr@gmail.com</a>
            <br />
            <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/otavio-augusto-t-rockenbach-87a16b39">Otavio Rockenbach</a>
        </address>
    </div>
