@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este projeto foi criado para testar funcionalidades do ASP.NET MVC.</p>
<hr />
<h4>Contato</h4>
<hr />
<address>
    <strong>Email:</strong> <a href="mailto:otavio.atr@gmail.com">otavio.atr@gmail.com</a>
    <br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/otavio-augusto-t-rockenbach-87a16b39">Otavio Rockenbach</a>
</address>